header {
	background-color: #000000;
	border-style: none;
	overflow: auto;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #355E3B;
	height: fit-content;
}


.header {
	margin-top: 50px;
	padding: 5px;
	width: auto;
	text-align: center;
	border-radius: 10px;
}

h1 {
	font-size: 56px;
}

#main_section {
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(#FFFFFF, #355E3B);
	background-size: cover;
	background-position: center;
	align-items: top;
	justify-content: center;
}

#picture-hero {
	background-image: url("./files/open-mats.jpg");
	width: 80%;
	aspect-ratio: 16 / 9;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	margin-bottom: 25px;
}

#below_main {
	background-color: #355E3B;
	height: 100vh;
}

#lrhs_logo {
	height: 75px;
	width: 75px;
	padding: 10px;
}

#video_container {
	width: 560px;
	margin: 20px;
}

#progress_bar_header {
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-bottom: 10px;
	margin-top: 0%;
	background-color: rgba(255,255,255,0.5);
}

#progress_bar_section {
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	height:fit-content;
}

#progress_bar_container {
	border-style: solid;
	border-color: #355E3B;
	height: 100px;
	display: flex;
	border-radius: 10px;
}

#progress_bar {
	background-color: #355E3B;
	color: #355E3B;
	height: 100px;
	z-index: 1;
}

#form_container {
	background-color: rgba(255,255,255,0.67);
	z-index: 1;
	width: 35%;
	height: fit-content;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

input {
	width: 100%;
	border-style: solid;
	border-radius: 10px;
	height: 25px;
	margin-top: 10px;
}

.click_button {
	margin-top: 20px;
	background-color: #355E3B;
	color: white;
	border-style: none;
	width: 100%;
	height: 50px;
	border-radius: 10px;
}

@media (max-width: 480px) {
	iframe {
		max-width: 450px;
	}
}


@media (max-width: 1024px) {
	#form_container {
		width: 80%;
	}
}
